p {
    color: brown;    
    width: 500px;
    border: 1px solid black;
    font-size: 20px; 
    font-family: "Open Sans", sans-serif;
    text-align: center;
}

body {
    width: 600px;
    margin: 0 auto;
    background-color: hsl(149, 30%, 81%);
    padding: 0 20px 20px 20px;
    /* border: 5px solid rgb(172, 220, 207); */
    border-radius: 40px;
  }

  button {
    border-radius: 20px;
    padding: 5px;
  }

.body-container {
  background-image: url(/images/my-back.jpg);
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: center top;
/* background-color: #cccccc; */
}

.main-container {
  background-color: hsl(151, 13%, 65%);
    opacity: 80%;
    padding: 30px;
    border: 5px rgb(48, 93, 65) solid;
    border-radius: 40px;
}

input {
  border-radius: 20px;
  margin: 5px;
  padding: 5px;
}

p.body-container {
  border-radius: 20px;
}

  /* img {
    display: block;
    margin: 0 auto;
  } */